.styx1 {
  float: left;
  width: 25%;
  height: 25%;
  padding-left: 30px;
}

.styx2 {
  float: left;
  width: 25%;
  height: 25%;
  padding-left: 30px;
}

.styx3 {
  float: left;
  width: 25%;
  height: 25%;
  padding-left: 30px;
}

.sidebar {
  float: left;
  background-color: blue;
  padding: 15px;
  text-align: center;
} 